body{
  background:linear-gradient(90deg,rgb(205, 181, 181) 50%, rgb(219, 219, 219,1) 50%);
  display: inline-flex;
  justify-content: center;
  border: 10px solid brown;
  padding: 2%;
  width:100vw;
  height:100vh;
  
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#myModal{
  display: none;
  font-size: 0.9em;
}

#total1, #total2{
  font-weight: 700;
  font-size: 2.3em;
  padding-top: 20%;
}
#total1{
  color: red;
}
#total2{
  color:blue; 
}
.Joueur1{
  width: 30vw;
  margin-top: 10%;
  text-align: center;
  padding : 2%;
  color:red;
}
#indicator1{
  font-weight: bold;
  font-size: 1.4em;
  color:red;
  display: block;
  text-align: right;
  height: 15vh;
}
.Joueur2{
  width: 30vw;
  margin-top: 10%;
  padding : 2%;
  text-align: center;
  color:blue;
}
#indicator2{
  font-weight: bold;
  color:blue;
  font-size: 1.4em;
  display: block;
  text-align: left;
  height: 15vh;
}
.temp{
  width:25vw;
  background: burlywood;
  text-align: center;
  padding: 2%;
  margin-top: 15vh;
  font-size: 1.4em;
  justify-content: center;
}
.control{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw; 
  justify-content: center;
}
button{
  background: rgb(190, 190, 238);
  color: black;
  border-radius: 20%;
  margin-top: 10%;
  padding:10%;
  width:90%;
  font-size: 1em;
}
button:hover{
  background:  rgb(69, 69, 80);
  color: whitesmoke;
  border : 2px solid black;
}
#de{
  width: 17vw;
  height: 17vw;
  padding: 1%;
  display: flex;
  text-align: center;
  font-weight: bold;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#diceShow{
  width: 100%;
  height:100%;
  border: 1px solid blue;
  border-radius: 20%;
}
/* style des très petits mobiles*/
@media screen and (max-width:300px){
  body{
    font-size : 0.8em;
    
  }
  .Joueur1, .Joueur2{
    margin-top: 1%;
  }
  .indicator1, .indicator2{
    font-size: 1em;
  }
  #de{
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 20vw;
    height: 20vw;
  }
}
/* style des tablettes*/
@media screen and (min-width:700px){
  body{
    font-size : 1.2em;
    
  }
  .Joueur1, .Joueur2{
    margin-top: 1%;
  }
  .indicator1, .indicator2{
    font-size: 1.1em;
  }
  #de{
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 15vw;
    height: 15vw;
  }
  canvas{
    margin-left: 5%;
  }
}

/*style mobile en position paysage*/
@media screen and (orientation:landscape){
  body{ 
    font-size: 1em;
    
  }
  .Joueur1, .Joueur2{
    margin-top: 0;
  }
  .indicator1, .indicator2{
    font-size: 1em;
    height: 3vh;
  }
  .temp{
    margin-top: 1vh;
    padding: 1%;
    font-size: 1em;
  }
  #de{
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 18vh;
    height: 18vh;
  }
  canvas{
    margin-left: 1%;
  }
  button{
    width: 70%;
    margin-top: 10%;
    padding:1%;
    font-size: 0.7em;
  }
  #total1, #total2{
    font-size: 1.7em;
  } 
}
/*style des desktops*/
@media screen and (min-width:1000px){
  body{
    font-size : 1.5em;
   
  }
  .Joueur1, .Joueur2{
    margin-top: 2%;
  }
  .indicator1, .indicator2{
    font-size: 1.5em;
    height: 5vh;
  }
  .temp{
    margin-top: 4vh;
    padding: 1%;
    font-size: 1.2em;
  }
  #de{
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 13vw;
    height: 13vw;
  }
  canvas{
    margin-left: 5%;
  }
  #total1, #total2{
    font-size: 2em;
  } 
}

/*style des écrans extra-larges*/
@media screen and (min-width:2000px){
  body{
    font-size : 2.5em;
    border: 15px solid brown;
  
    margin-top: 0%;
  }
  .Joueur1, .Joueur2{
    margin-top: 0;
  }
  .temp{
    margin-top: 0;
    font-size: 1.3em;
    padding: 1%;
  }
  .indicator1, .indicator2{
    font-size: 2em;
    height: 3vh;
  }
  #total1, #total2{
    font-size: 2em;
  } 
  #de{
    width: 10vw;
    height: 10vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  canvas{
    margin-left: 5%;
  }
}